div > .vimiumHintMarker {
/* linkhint boxes */
background: #FF2AC3;
opacity: 0.8;
border: 1px solid #E3BE23;
}

div > .vimiumHintMarker span {
/* linkhint text */
color: #F8F8F0;
font-weight: bold;
font-size: 12px;
margin: 2px;
opacity: 0.7;
}

div > .vimiumHintMarker > .matchingCharacter {
}
